header{
  background-color: #50C7A7;
  width: 100%;
  height: 200px;
}

footer{
  background-color: #C78950;
  width: 100%;
  height: 200px;
}

#deze{
  background-color: #506DC7;
}

#kleuren{
  background-color: #C75250;
}

#tabel{
    background-color: #A1C750;
}

#van{
  background-color: #B3A968;
}

#de{
  background-color: #5BC750;
}

#alle{
  background-color: #BB50C7;
}

#heeft{
  background-color: #5097C7;
}

#regenboog{
  background-color: #9F77A3;
}
